# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Env & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
ffmpeg_debug.txt
*.log

# Editor & OS
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Project specific
backend/output.ts
{backend/
